@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  
  @font-face {
    font-family: 'Firago';
    src: url('/public/fonts/FiraGO-Regular.ttf');
    font-weight: normal;
  }

  @font-face {
    font-family: 'Firago-medium';
    src: url('/public/fonts/FiraGO-Medium.ttf');
    font-weight: normal;
  }

  @font-face {
    font-family: 'Firago-bold';
    src: url('/public/fonts/FiraGO-Bold.ttf');
    /* font-weight: normal; */
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Firago';
}